*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto" sans-serif;
}
a{
  text-decoration: none;
}
ul{
  text-decoration: none;
  list-style: none;
}
li{
  color: black;
  margin: 10px;
}
body{
  background-color:#F7F7F7 ;
}
.li{
  color: black;
  text-decoration: none;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
}
  #li:hover{
      text-decoration: underline black;
  }
.li-1{
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-right: 10px;
  padding-left: 20px;
}
.li-2{
  border-right: 1px solid black;
  padding-right: 20px;
}

.container{
  display: flex;
  justify-content: space-between;
  margin:auto;
  align-items:center;
  font-weight: bold;
}
.logo{
  width: 27px;
  height: 27px;
  margin-top: 23px;
  margin-left: 27px;
}
.nav-ul{
  display: flex;
  justify-content: space-around;
  color: black;
}

.text-section{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  margin-top: 100px; 
}
.title{
  font-size: 28px;
  letter-spacing: 9px;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}
.paragraph1{
  font-size: 25px;
  text-align: left;
  margin-top: 40px;
  padding: 10px;
  width: 500px; 
}
.text-section-1{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  margin-top: 150px
}
.title-1{
  font-size: 22px;
  text-align: left;
  margin-top: 40px;
  padding: 10px;
  line-height: 40px;
  width: 420px;
  font-weight: bold;
}
.images-section{
  width: 1260px;
  height: 923px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 70px;
  justify-content: space-around;
}
.images-section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.wrapperbox{
  text-align: center;
  width: 199px;
  height:278px ;
  align-content: center;
}
.resumephoto{
  width: 199px;
  height: 195px;
  border-radius: 50%;
}
.namespan-1{
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  display: block;
}
.textspan{
  text-align: center;
  line-height: 10px;
  font-size: 14px;
  width: 190px;
  padding: 10px;
  display: block;
}